<!-- <!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <center><h1>static files (Django)</h1></center>
    <img src="{% static 'image/Black Leopards.jpg'%}">
    <img src="{% static 'image/BUTERFLY.JPG'%}">
    <img src="{% static 'image/penguins.jpg'%}">
    <img src="{% static 'image/white_tiger.jpg'%}">
    
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
</head>

<body>
    <div class="well">
        <center>
            <h2>bootsrap file (Django)</h2>
        </center>
    </div>

</body>

</html>